body {
	width:600px;
	background-color:black;
	font-family:helvetica;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
	color:white;
	text-align:center;
	margin:auto;
}

#plans {
	width:500px;
	margin:auto;
}

#loading {
	color:white;
	text-align:center;
}

.plan-container {
	float: left;
	width:100px;
	cursor:pointer;
}

.plan {
	border: 1px black solid;
	padding:15px 0px;
	font-size:12px;
}

.plan .plan-name {
	background: rgba(255, 255, 255, 0.15);
	font-weight:bold;
	color:white;
	text-align:center;
	display:block;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap;
	padding: 0px 15px;
}
.successful {
	background-color:#393;
}

.unknown {
	background-color:gray;
}

.failed {
	background-color:maroon;
}

.tooltip {
	border:1px solid black;
	font-size:12px;
	color: white;
}

.tooltip span {
	text-align:center;
	margin:auto;
	font-weight:bold;
}

.ui-progressbar {
	height: 2em;
	text-align: left;
	overflow: hidden;
	width:50%;
	margin:auto;
	background-color:gray;
}
.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
	background: url("../images/animated-overlay.gif");
	filter: alpha(opacity=25);
	opacity: 0.25;
}
.ui-progressbar .ui-progressbar-overlay {
	background: url("../images/animated-overlay.gif");
	height: 100%;
	filter: alpha(opacity=25);
	opacity: 0.25;
}